@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.hero{
  background-image: url('../images/cow.jpg');
  height: 100vh;
  background-size: cover;
  background-position: bottom center;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 50% 85%, 0 100%);
}
.hero h1{
  color: azure;
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  padding: 60px;
  
}
.article, #cow-type{
  width: 80%;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px; */
  margin: 60px auto;
  border-width: 15px;
  border-color: yellow;
  border-style: solid;
  background-color: aqua;
  padding: 60px;
  background: linear-gradient(45deg, pink, rgb(122, 122, 244));
}
.article h2, #cow-type h2{
  text-align: center;
  font-size: 48px;
  border-bottom: 3px solid slateblue;
  margin-bottom: 20px;
  color: fuchsia;
  
}
.article p{
  font-size: 28px;
  line-height: 1.5em;
  text-align: justify;
}
.article p .imp{
  font-size: 30px;
  font-weight: 700;
  
}
.cow-images{
  padding: 60px;
  display: flex;
  flex-direction: row;
  gap: 20px;

}
.cow-images div{
  min-width: 300px;
}
.cow-images img{
  width: 100%;
}